@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 14, 19, 20;
  --background-start-light-rgb: 14, 19, 20;
  --background-end-light-rgb: 214, 219, 220;

  --background-start-dark-rgb: 14, 19, 20;
  --background-end-dark-rgb: 214, 219, 220;
}

body {
  font-family: Helvetica, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-light-rgb))
  )
  rgb(var(--background-start-light-rgb));

  /* Define the dark background gradient */
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-dark-rgb))
  )
  rgb(var(--background-start-dark-rgb));
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-dark-rgb))
    )
    rgb(var(--background-start-dark-rgb));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.center {
  display: inline-block;
  text-align: center;
}
