.Navbr {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: rgb(0, 0, 0);
  width: auto;
  border: 2px solid white;
  border-radius: 50px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500; /* Ensure navbar is always on top */
}

.navmen {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  align-items: center;
  text-align: center;
  margin-top: 3px;
}

.nav-links i {
  color: white;
  margin-top: 10px;
  font-size: 30px;
  transition: all 0.3s ease;
}

.nav-links i:hover {
  background-color: white;
  border-radius: 10px;
  padding: 3px;
  color: black;
  font-size: 35px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .Navbr {
    transform: translateX(-55%);
  }
  .nav-links i {
    color: white;
    margin-top: 10px;
    font-size: 30px;
    transition: all 0.3s ease;
  }
  .navmen {
    display: grid;
    grid-template-columns: repeat(3);
    grid-gap: 25px;
    align-items: center;
    text-align: center;
    margin-top: 3px;
  }
}
ul {
  list-style: none;
  padding: 2px;
  margin: 0;
}
